main {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
    width: 50%;
}
.results {
    margin: auto;
    /* width: 33%; */
    font-size: 18px;
}
.rowhead {
    font-size: 24px;
}

.user, .event {
    display: flex;
    justify-content: space-evenly;
}
.firstname, .lastname, .title, .date {
    /* padding: 0 15px 0 15px; */
}

.insert-form button{
    margin-top: 5px;
}
#menu{
    font-size: 32px;
}