main {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
    width: 50%;
}
.results {
    margin: auto;
    width: 33%;
    font-size: 18px;
}
.rowhead {

}

.user, .event {
    display: flex;
    justify-content: space-between;
}

.insert-form {

}