<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  
  <% include ../partials/nav.ejs %>

    <div class="results">
        <div class="event">
            <div class="id">ID</div>
            <div class="title">Title</div>
            <div class="date">Date</div>
        </div>
    </div>

<script>
    $.get( "/api/event", function ( data ) {
        for (var i = 0; i < data.length; i++) {
           var event = $('.event').first().clone();
           event.find('.id').text(data[i].event_id)
           event.find('.title').text(data[i].event_name)
           event.find('.date').text(data[i].event_date)
           $('.results').append(event);
        }
    });
</script>
</body>
</html>
