<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<main>
  <div id="menu">
    <a href="/events">Events</a>
    <a href="/users">Users</a>
  </div>
</main>
</body>
</html>